<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
    <i class="material-icons">menu</i>
  </button>
  <span>Admin</span>
  <div class="col d-flex align-items-end flex-column">
    <i class="material-icons" (click)="navigateToHome()">person</i>
  </div>
</md-toolbar>


<md-sidenav-container class="h-100">
  <!-- Side nav-->
  <md-sidenav #sidenav mode="side">
    <nav-item-parent></nav-item-parent>
  </md-sidenav>

  <!-- Contents -->
  <div>
    <span>asdad</span>
  </div>
</md-sidenav-container>
